
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"); 

html, body {
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(242, 244, 246);
    line-height: 1;
    text-size-adjust: none;
}

body, select, input {
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
    background-color: transparent;
    text-decoration: none;
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
    display: block;
    margin: 0px;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
    border-radius: 0px;
}

input[type="submit"], input[type="button"] {
    appearance: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}

:focus {
    outline: 0px;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

*, ::after, ::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f4f6;
    font-family: "Inter", sans-serif;
    font-weight: normal !important;
    font-style: normal;
    font-size: 13px;
    height: auto;
}

body p {
    padding-bottom: 10px;
    font-size: 13px;
}

.clearfloat {
    zoom: 1; }

.clearfloat::before, .clearfloat::after {
    content: "";
    display: table;
}

.clearfloat::after {
    clear: both;
}

.form-control:focus, 
.form-control:active {
    background: transparent;
}

input:visited{
    background-color: transparent;
}

input:focus{
    background-color: transparent;
}

input {
    background-color: transparent;
   color: #ffffff;
    border: 1px solid #d7d8db;
    padding: 5px;
    border-radius: 3px;
}

input:-webkit-autofill {
    background-color: #141926!important;
    color: #ffffff;
}

input:autofill {
    background-color: #141926!important;
    color: #ffffff;
}

::placeholder {
   color: #ffffff;
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
    width: 0px;
    background: transparent;
}

.app-bet-time::-webkit-scrollbar {
    display: none;
}

.app-bet-time::-webkit-scrollbar-track {
    background: rgb(4, 1, 27);
}

.app-bet-time::-webkit-scrollbar-thumb {
    background: rgb(4, 1, 27);
}

.app-bet-time::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 1, 27);
}

a {
    outline: none;
}

a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.clearfloat {
    zoom: 1; }

.clearfloat::before, .clearfloat::after {
    content: "";
    display: table;
}

.clearfloat::after {
    clear: both;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* Main Style */

#app {
    background-color: #0A101C;
    width: 100%;
    max-width: 540px;
    min-height: 100vh;
    position: relative;
    margin: auto;
}

.app-container {
    background-color: #0A101C;
    width: 100%;
    max-width: 540px;
    min-height: 100vh;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

main{
    padding-bottom: 75px;
}

header{
    background-color: #141926;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    max-width: 540px;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    z-index: 100;
    transition: all 0.5s ease-out allow-discrete;
    transition: 200ms linear 50ms;
}

.main-header{
    background-color: #141926;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 0;
}

#logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo img{
    max-width: 180px;
}

#menu{
    width: 40px;
    cursor: pointer;
}

#menu img{
    width: 24px;
}

#accessAccount{
    display: flex;
    align-items: center;
}

.authetication{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.authetication a{
    padding: 10px 17px;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 600;
}

.authetication a.login{
    background-color:  #F7B84B;
    color: #000000;
}

.authetication a.join{
    border: 1px solid #F7B84B;
    color: #F7B84B;
}

.banner-caption{
    width: 100%;
}

.banner-caption #owl-demo .item img{
    border-radius: 8px;
}

/* simply-scroll-clip */

#playingNow{
    background-color: #16362D;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    position: relative;
}

.notification{
    background-color: #16362D;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    position: absolute;
    right: 0;
}

.notification img{
    width: 20px;
}

.playerwrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    height: 25px;
    font-size: 13px;
    width: auto;
}

.playername{
    color: #34F072;
    width: auto;
}

.playertext{
    color: #BDBDBD;
}
.simply-scroll-container { 
	position: relative;
}

.simply-scroll-clip { 
	position: relative;
	overflow: hidden;
}

.simply-scroll-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
	
.simply-scroll-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
	
.simply-scroll-list li img {
	border: none;
	display: block;
}

.simply-scroll {
	width: 100%;
	max-width: 540px;
	height: 30px;
}

.simply-scroll .simply-scroll-clip {
	width: 100%;
	height: 30px;
}
	
.simply-scroll .simply-scroll-list li {
	float: left;
	height: 20px;
	min-width: 200px;
	width: auto;
}

/* ----------------form--------------------*/

.pageheader{
    margin-bottom: 10px;
}

#accountwrapper{
    width: 100%;
    /* min-height: 90vh; */
}

.account-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    padding-top: 10vh;
}

.account-heading{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.account-heading h1{
    font-size: 24px;
}

.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    max-width: 420px;
    padding: 20px;
    width: 100%;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

.requires-validation{
    width: 100%;
}

.requires-validation .form-button button{
    width: 100%;
}
.form-content .form-items {
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-weight: 300;
    line-height: 120%;
}

.form-content label,
.was-validated .form-check-input:invalid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    color: #fff;
    line-height: 130%;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.form-content input[type="text"],
.form-content input[type="password"],
.form-content input[type="email"],
.form-content input[type="phone"],
.form-content select {
    width: 100%;
    padding: 10px 20px;
    padding-left: 35px;
    text-align: left;
    outline: 0;
    border-radius: 7px;
    background-color: #141926;
    font-size: 15px;
    border: 1px solid #8d8d8d;
    font-weight: 300;
    color: #8d8d8d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

.form-content input[type="phone"]:focus{
    background-color: transparent;
}

.btn-primary {
    background-color: #F7B84B;
    outline: none;
    border: 0px;
    box-shadow: none;
    color: #212529;
    border-radius: 7px;
    font-size: 16px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #495056;
    background-color: #F7B84B;
    outline: none !important;
    border: none !important;
    box-shadow: none;
    color: #212529;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8d8d8d;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8d8d8d;
}

.mv-up {
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback {
    color: #ff606e;
}

.valid-feedback {
    color: #2acc80;
}

.btn{
    padding: 10px 20px;
}

.form-content label a{
    color: #F7B84B;
    text-transform: capitalize;
}

.otp-letter-input{
    max-width: 100%;
    width: 48px !important;
    margin-top: 0 !important;
    padding: 5px 17px  !important;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600 !important;
    color: #FFF !important;
}

.requires-validation .inputwrap{
    position: relative;
}

.input-icon{
    position: absolute;
    top: 10px;
    left: 10px;
}

.input-icon img{
    width: 20px;
}

.otpvalidation a{
    font-weight: 600;
}

.validation-input{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

/* ----------------gamesicons--------------------*/


#gamesicons{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.games-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
    overflow-y: hidden;
    justify-content: space-between;
    overflow-x: scroll !important;
}

.game-icon-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.game-icon{
    width: 94px;
    display: flex;
}

.game-icon a{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-icon a img{
    border-radius: 10px;
    width: 94px;
}

.game-icon a h6{
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
}

#games_navigation{
    width: 100%;
    padding-top: 10px;
}
.navigation{
    background-color: #181D2A;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll !important;
    border-radius: 5px;
}

.navigation-wrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    border-radius: 5px;
}

.selectgame{
    position: relative;
}

.selectgame.active{
    background-color: #2F1F3B;
    border-radius: 5px;
}

.selectgame a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: capitalize;
    display: block;
}

.selectgame .spec-icon.new {
    background: linear-gradient(90deg, rgb(101, 225, 56) 0%, rgb(5, 186, 53) 100%);
}

.selectgame .spec-icon {
    padding: 2px 0.08rem;
    border-radius: 0.14rem 0.14rem 0.14rem 0.04rem;
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 10px;
    text-align: center;
}

#games-lobby{
    width: 100%;
    padding-top: 10px;
}

.game-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.333%;
    row-gap: 15px;
    align-items: flex-start;
    justify-content: space-between;
}

.game_id{
    width: 32%;
    border-radius: 10px;
    position: relative;
}

.game_image{
    width: 100%;
    position: relative;
}

.game_image img{
    border-radius: 10px;
}

.game-activies{
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#add-to-favourite{
    display: flex;
    width: 30px;
    justify-content: center;
    align-items: self-end;
}

#add-to-favourite img{
    width: 24px;
    cursor: pointer;
}

.user-playing{
    background-color: #34F072;
    background: linear-gradient(90deg, rgb(101, 225, 56) 0%, rgb(5, 186, 53) 100%);
    max-width: 70px;
    min-width: 50px;
    width: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
}

.user-playing img{
    width: 20px;
}

.game_cta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    gap: 5px;
    position: absolute;
    bottom: 5px;
    width: 94%;
    left: 0;
    right: 0;
    margin: auto;
}

.game_cta a{
    text-transform: capitalize;
    padding: 5px 5px;
    text-align: center;
    display: block;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.game_cta #demo{
    width: 52px;
    display: block;
}

.game_cta #demo a{
    border: 2px solid #F7B84B;
    background-color: #F7B84B;
    color: #141926;
}

.game_cta #playnow{
    width: 100%;
    display: block;
}

.game_cta #playnow a{
    border: 2px solid #34F072;
    background-color: #34F072;
    color: #141926;
}

footer{
    background-color: #543C1E;
    background-color: #141926;
    width: 100%;
    max-width: 540px;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
}

#mainfooter{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.footermenu{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
}

.footermenu.active{
    opacity: 1;
}

.footermenu:first-child{
    justify-content: flex-start;
}

.footermenu:last-child{
    justify-content: flex-end;
}

.footermenu a{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #F7B84B;
}

.footermenu a h6{
    font-size: 14px;
    font-weight: 600;
}

.footermenu img{
    width: 30px;
}

.profile-details-wrap{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.back_btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-transform: capitalize;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}

.back_btn img{
    width: 10px;
}

.back_btn a{
    background-color: #543C1E;
    padding: 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proflie-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
}

.account_name{
    color: #FEBF10;
}

#offer{
    width: 100%;
}

.offerwrapper{
    background-color: #181D2B;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#offer .offerdetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#offer .offerdetails p{
    font-style: italic;
    font-size: 12px;
    padding-bottom: 0;
}

#claimNow{
    background-color: #FEBF10;
}

#claimNow.offertype{
    text-wrap: nowrap;
    word-wrap: normal;
}

.offertype{
    color: #181D2B;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    border-radius: 7px;
    height: 45px;
}

.progress{
    background-color:#154725;
    border-radius: 10px;
    height: 10px;
}

.progress-bar{
    background-color:#3AC267;
    height: 10px;
    padding: 2px 10px;
}

.myaccount-details{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.myaccount-tab{
    width: 100%;
}

.tab {
    overflow: hidden;
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;
}
  
.tab button {
    background-color: #181D2A;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    color: #FFF;
}

.tab button .bi{
    font-size: 30px;
}

.tab button .text{
    font-weight: 600;
    font-size: 14px;
}

.tab button:hover {
    background-color: #F7B84B;
    color: #181D2A;
}

.tab button.active {
    background-color: #F7B84B;
    color: #181D2A;
}

.tabcontent {
    display: none;
    padding: 0;
    border-top: none;
    color: #FFF;
}

.myaccount-details-wrapper{
    width: 100%;
}

.myaccount-details-wrapper h5{
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
}

.card{
    background-color: #181D2B;
    border-radius: 7px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: none;
}

.card h6{
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.account_bal{
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.account_bal img{
    width: 34px;
    opacity: 0.4;
}

.amount_bal, .bonus_bal{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.amount_bal{
    border-right: 1px solid #3c3a3a;
}

.bonus_bal{
    padding-left: 20px;
}

.amount_bal .text, .bonus_bal .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 13px;
    font-weight: 600;
}

.deposit-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.funds .deposit-btn input {
    color: #202020;
    border: 1px solid #d7d8db;
    background-color: #f4f5f0;
    border-radius: 4px;
    font-size: 14px;
}

.deposit-btn input {
    flex: 1 1 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 10px 0px;
    border-radius: 7px;
    background-color: #141926;
    border: 1px solid #8d8d8d;
    font-size: 15px;
    color: #8d8d8d;
}

.account-deposit-funds .choose-amount p, 
.account-withdraw-funds .choose-amount p {
    text-align: left;
    padding-bottom: 0px;
}

.amount-field button {
    width: 100%;
    padding: 7px 20px;
    font-size: 19px;
    --bs-btn-border-radius: 0.5rem;
    font-weight: 600;
}

.deposit-btn input.submit-deposit {
    background-color: #F7B84B;
    border: 2px solid #F7B84B;
    color: #181D2A;
}

.amount-field{
    width: 100%;
}

.pagelink{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagelink a{
    width: 100%;
    border-bottom: 1px solid #3c3a3a;
    color: #9794ae;
    font-size: 17px;
    text-transform: capitalize;
    padding: 5px 0;
    padding-top: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pagelink a .text{
    font-size: 16px;
}

.pagelink a:hover{
    color: #9794ae;
}

.pagelink a .bi{
    background-color: #F7B84B;
    padding: 20px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #181D2B;
}

.referrals-header{
    display: grid;
    justify-content: space-between;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    padding: 15px 10px;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #154725;
    margin-bottom: 10px;
}

.referrals-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.referrals-number, 
.referrals-points, 
.referrals-amount{
    color: #F7B84B;
    font-weight: 600;
    font-size: 21px;
}

.referrals-text{
    color: #8d8d8d;
    font-size: 14px;
}

.referrals-tab {
    overflow: hidden;
    width: 100%;
    display: grid;
    justify-content: space-between;
    align-items: flex-start;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;
}
  
.referrals-tab button {
    background-color: #181D2A;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    color: #FFF;
}

.referrals-tab button .text{
    font-weight: 600;
    font-size: 14px;
}

.referrals-tab button:hover {
    background-color: #F7B84B;
    color: #181D2A;
}

.referrals-tab button.active {
    background-color: #F7B84B;
    color: #181D2A;
}

.referralstab-content {
    display: none;
    padding: 0;
    border-top: none;
    color: #FFF;
}

.referrals-content{
    width: 100%;
    padding-top: 10px;
}

.copylink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copylink .form-control-lg{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 100%;
    height: 40px;
}

.copylink button{
    background-color: #F7B84B;
    border: 1px solid #F7B84B;
    color: #181D2A;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 82px;
    height: 42px;
}

.summary_table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
.summary_table td, th {
    border: 1px solid #3c3a3a;
    text-align: left;
    padding: 8px;
}
  
.summary_table tr:nth-child(even) {
    background-color: #3c3a3a;
    background-color: #0A101C;
}

.summary_table{
    width: 100%;
}

#faqsAccordion{
    width: 100%;
    margin: 0;
    color: #9794ae;
}

.accordion-item {
    background-color: transparent;
    color: #111;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.accordion-header {
    padding: 0 3rem 0 0;
    min-height: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    color: #9794ae;
    font-size: 15px;
    border-bottom: 1px solid #0A101C;
}

.accordion-header::after {
    content: "\002B";
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    color: #9794ae;
}

.accordion-header.active::after {
    content: "\2212";
}

.accordion-body {
    max-height: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #9794ae;
    display: flex;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

.accordion-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
}

.rewards-header{
    display: grid;
    justify-content: space-between;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;
    padding: 15px 0;
    align-items: center;
    border-radius: 7px;
}

.rewards-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 10px;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #154725;
}

.rewards-number, 
.rewards-points, 
.rewards-amount{
    color: #F7B84B;
    font-weight: 600;
    font-size: 21px;
}

.rewards-text{
    color: #ffffff;
    font-size: 14px;
}

.offer_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 5px;
}

#transaction_details{
    width: 100%;
    display: none;
}

.list_deposit, 
.list_withdraw, 
.list_commission {
     background-color: #181D2B;
     border-radius: 7px;
     color: #9794ae;
     font-size: 17px;
     display: flex;
     flex-direction: column;
     gap: 0;
     text-transform: capitalize;
}

.list_deposit .header, 
.list_withdraw .header, 
.list_commission .header {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292d42;
    padding: 15px 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.list_deposit .details, 
.list_withdraw .details, 
.list_commission .details {
    transition: all .5s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    padding: 10px 10px;
}

.list_deposit .open, 
.list_withdraw .open, 
.list_commission .open {
    background-color: #35374c;
    transition: all .3s;
}

.list_deposit .open .details, 
.list_withdraw .open .details, 
.list_commission .open .details {
    padding-top: .2rem;
    max-height: 10rem;
}

.details-wrap, 
.extra, 
.count{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list_deposit .footer, 
.list_withdraw .footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #292d42;
    padding: 5px 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: 14px;
}

#moreDetails{
    cursor: pointer;
}

.terms{
    width: 100%;
}

.terms p{
    width: 100%;
    transition: max-height 0.2s ease-out;
    color: #9794ae;
    display: flex;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
}

.contact_us{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card h3{
    width: 100%;
    justify-content: flex-start;
}

.contact_us p{
    width: 100%;
}

.contact_us a{
   color: #F7B84B; 
}

.social_media{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.social_icon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.social_icon a{
    font-size: 27px;
}

.important-links{
    width: 100%;
    margin-bottom: 10px;
}

.messages{
    margin-bottom: 10px;
}

.notifications-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.notifications-container a{
    color: #9794ae;
}

.notifications-container h6{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.unread-notifications-number{
    background-color: #F7B84B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A101C;
    font-size: 12px;
    font-weight: 600;
}

.notifications{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification-text a{
    color: #F7B84B;
}

#accountBal{
    width: 100%;
    margin-bottom: 10px;
}

#iframe{
    background-color: #0A101C;
    width: 100%;
    max-width: 540px;
    min-height: 100vh;
    position: relative;
    margin: auto;
    padding: 10px;
}

#iframe .pageheader{
    padding-top: 10px;
}

.iframe-container{
    width: 100%;
    height: 92%;
    border: 2px solid #181D2A;
    border-radius: 30px;
}

.game-icon.hotgames img{
    background-color: #571F1B;
    width: 50px;
}

.footermenu.promogif img{
    position: absolute;
    width: 60px;
}

.footermenu.promogif a h6{
    position: absolute;
    bottom: 5px;
}

#jackpot_pools{
    width: 100%;
}

.jackpot_items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1px;
    width: 100%;
}

.jackpot_type{
    width: 32%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jackpot_type a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px 5px;
    gap: 5px;
    color: #FFF;
}

#minorJackpot{
    background: #090979;
    background: linear-gradient(90deg, #090979, #6710d5);
    /* background-image: url('../images/jackpotmajor.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grandJackpot{
    background-color: #930677;
    background: linear-gradient(90deg, #ff446c, #930677);
    height: 50px;
    /* background-image: url('../images/jackpotgrand.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#megaJackpot{
    background: #393939;
    background: linear-gradient(90deg, #020024, #00d4ff);
    /* background-image: url('../images/jackpotmega.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jackpot_icon{
    width: 40px;
    display: flex;
}

.jackpot_icon img{
    width: 100%;
    width: 30px;
}

.jackpot_text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap:3px
}

.jackpot_text h1{
    font-size: 15px;
}

.jackpot_text h3{
    font-size: 13px;
    font-weight: 500;
}


/*---------------------- Media Querries---------------------- */

@media handheld, only screen and (max-width: 480px) {
    .game_id {
        width: 48%;
    }

    .game-icon {
        width: 80px;
    }

    .game-icon a img {
        width: 70px;
    }
}
@media handheld, only screen and (max-width: 380px) {
    .game-icon a img{
        width: 70px;
    }

    .game-icon-wrap{
        gap: 5px;
    }
}